# Logs
logs
*.log
npm-debug.log*

# Build output
dist
dist/
build
build/
build/Release
package
package/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
lib-cov
coverage
.nyc_output

# Grunt intermediate storage
.grunt

# node-waf
.lock-wscript

# Dependencies
node_modules
jspm_packages

# Caches
.npm
.node_repl_history

# OS
.DS_Store
Thumbs.db

# Editors
.idea
.vscode
*.swp
